In [1]:
import pandas as pd

In [2]:
def splitsort(x):
    tmp = sorted(x.split('|'))
    s = '|'.join(tmp)
    return s

In [3]:
data = {'G1':['a','b','c','d','e'],'G2':['b','a','d','c','f']}  
data = pd.DataFrame(data)  
data

  G1 G2
0  a  b
1  b  a
2  c  d
3  d  c
4  e  f

In [4]:
data['G3'] = data['G1'] + '|' + data['G2']  
data['G4'] = data['G3'].apply(splitsort)
data.drop_duplicates(subset = 'G4').reset_index(drop = True)

  G1 G2   G3   G4
0  a  b  a|b  a|b
1  c  d  c|d  c|d
2  e  f  e|f  e|f